.Hero{
    margin-top: 178px;
    margin-bottom: 200px;
}
.hero_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero_wrapper img{
    width: 589px;
    height: 600px;
    border-radius: 30% 10%;
    padding: 10px;
    background: #404040;
    background: linear-gradient(128deg, rgb(23, 23, 23) 25%, rgba(255, 255, 255, 1) 53%, rgb(119, 0, 255) 84%);
}
.hero_content h1{
    width: 600px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    background: linear-gradient(
        90deg,
        #2a2828,
        #ffffff,
        #6600ff
      );
      background-size: 300% 100%;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      display: block;
      white-space: nowrap;  /* Prevents wrapping */
      animation: moveGradient 6s linear infinite;
}
.hero_content p{
    width: 487px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: rgba(255, 255, 255, 0.55);
    margin-top: 30px;
}
.hero_content span{
    width: 487px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #6a00ff;
}
.hero_content button{
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    padding: 16px 40px;
    border-radius: 10px;
    border: 5px solid white;
    margin-top: 40px;


    background: linear-gradient(
        90deg,
        #2a2828,
        #ffffff,
        #6600ff
      );
      background-size: 300% 100%;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      display: block;
      white-space: nowrap;  /* Prevents wrapping */
      animation: moveGradient 6s linear infinite;
}
.hero_content button:hover{
    background: #404040;
    background: linear-gradient(128deg, rgb(23, 23, 23) 25%, rgba(255, 255, 255, 1) 53%, rgb(119, 0, 255) 84%);
    color: rgb(144, 0, 255);
}
@media (max-width: 1115px) {
    .hero_wrapper{
        display: block;
    }
    .hero_wrapper img{
        width: 75%;
        height: 70%;
        display: block;
        margin: 20px auto;
    }
    .hero_content{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .hero_content button{
        display: block;
        margin: 40px auto;
    }
    .hero_content h1{
        margin: 0 auto;
    }
    .hero_content p{
        margin: 20px auto;
    }
}
@media (max-width: 635px){
    .hero_content p{
        width: 70%;
    }
    .hero_content h1{
        width: 100%;
        font-size: 35px;
    }
}
@keyframes moveGradient {
    0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: -300% 0%;
      }
  }